<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设计师入驻-buoumall</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"  type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="buoumall-专业的综合网上购物商城,.便捷、诚信的服务，为您提供愉悦的网上购物体验!" />
    <meta name="Keywords" content="网上购物,布偶猫,buoumall" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="/static/css/common.css">

    <link rel="stylesheet" href="/static/libs/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/designerlive.css">
</head>
<body>

    <div class="header">
        <div class="header-main">
            <div class="header-icon">
                <img class="cover" src="/static/images/logo-font.png" alt="logo">
            </div>
            <div class="header-menu">
                <ul>
                    <li class="header-li heade-li-act">
                        <a href="/template/index.html" class="hov">首页</a>
                    </li>
                    <li class="header-li">
                        <a href="/template/looklist.html">LOOK</a>
                    </li>
                    <li class="header-li">
                        <a href="/template/designer.html">设计师 <i class="icon"></i></a>
                        <ul>
                            <li><a href="/template/designer.html">设计师列表</a></li>
                            <li><a href="/template/designerlive.html">设计师入驻</a></li>
                        </ul>
                    </li>
                    <li class="header-li">
                        <a href="/template/news.html">新闻动态</a>
                    </li>
                    <li class="header-li">
                        <a href="/template/aboutus.html">关于我们</a>
                        <ul class="regard_ul">
                            <li><a href="javascript:;">关于我们</a></li>
                            <li><a href="javascript:;">加入我们</a></li>
                            <li><a href="javascript:;">联系我们</a></li>
                            <li><a href="javascript:;">法律声明</a></li>
                        </ul>
                    </li>
                    <li class="header-li">
                        <a href="/template/helpCenter.html">帮助中心</a>
                    </li>
                </ul>
            </div>
            <div class="header-app-down" id="header-app-down">
                <span>App下载</span>
            </div>
        </div>
    </div>

    <div class="body-main">

        <div class="main-bannar">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/static/images/banner.jpg" /></div>
                    <div class="swiper-slide"><img src="/static/images/banner.jpg" /></div>
                    <div class="swiper-slide"><img src="/static/images/banner.jpg" /></div>
                    <div class="swiper-slide"><img src="/static/images/banner.jpg" /></div>
                    <div class="swiper-slide"><img src="/static/images/banner.jpg" /></div>
                    <div class="swiper-slide"><img src="/static/images/banner.jpg" /></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>


        <div class="main-item main-process">
            <div class="main-cont">
                <h4 class="main-title"><i></i>入驻流程</h4>
                <div class="">

                </div>
            </div>
        </div>

        <div class="main-item main-advantage">
            <div class="main-cont">
                <h4 class="main-title"><i></i>入驻布偶猫优势</h4>
                <div class="">

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-main">
            <ul class="footer_ew">
                <li>
                    <img src="/static/images/qrcode-gzh.png" alt="公众号二维码">
                    <span>扫二维码微信关注</span>
                </li>
                <li>
                    <img src="/static/images/qrcode-app.png" alt="app二维码">
                    <span>扫二维码下载APP</span>
                </li>
            </ul>
            <ul class="footer-links">
                <li><a href="/template/index.html">LOOK</a></li>
                <li><a href="/template/designer.html">设计师</a></li>
                <li><a href="/template/designerlive.html">设计师入驻</a></li>
                <li><a href="/template/news.html">新闻动态</a></li>
                <li><a href="/template/helpCenter.html">帮助中心</a></li>
                <li><a href="/template/aboutus.html">关于我们</a></li>
            </ul>
            <p class="footer-cr">Copyright by 布偶猫Buoumall，武汉布偶猫科技有限公司 鄂ICP备15619607号-1</p>
        </div>
    </div>

    <script type="text/javascript" src="/static/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/swiper/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/designerlive.js"></script>

</body>
</html>
