<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日LOOK-buoumall</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"  type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="buoumall-专业的综合网上购物商城,.便捷、诚信的服务，为您提供愉悦的网上购物体验!" />
    <meta name="Keywords" content="网上购物,布偶猫,buoumall" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/libs/layui-2.1.2/css/layui.css">
    <link rel="stylesheet" href="/static/css/looklist.css">

</head>
<body>

    <div class="header">
        <div class="header-main">
            <div class="header-icon">
                <a href="/template/index.html">
                    <img class="cover" src="/static/images/logo-font.png" alt="logo">
                </a>
            </div>
            <div class="header-menu" id="header-menu">
                <ul>
                    <li class="header-li">
                        <a href="/template/index.html" class="hov">首页</a>
                    </li>
                    <li class="header-li">
                        <a href="/template/looklist.html">LOOK</a>
                    </li>
                    <li class="header-li">
                        <a href="/template/designer.html">设计师 <i class="icon"></i></a>
                        <ul>
                            <li><a href="/template/designer.html">设计师列表</a></li>
                            <li><a href="/template/designerlive.html">设计师入驻</a></li>
                        </ul>
                    </li>
                    <li class="header-li">
                        <a href="/template/news.html">新闻动态</a>
                    </li>
                    <li class="header-li">
                        <a href="/template/helpCenter.html">帮助中心</a>
                    </li>
                    <li class="header-li">
                        <a href="/template/aboutus.html">关于我们</a>
                        <ul class="regard_ul">
                            <li><a href="/template/aboutus.html">关于我们</a></li>
                            <li><a href="/template/aboutus.html?type=1">加入我们</a></li>
                            <li><a href="/template/aboutus.html?type=2">联系我们</a></li>
                            <li><a href="/template/aboutus.html?type=3">法律声明</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-app-down" id="header-app-down">
                <span>App下载</span>
            </div>
        </div>
    </div>

    <div class="body-main">
        <div class="main-item main-look">
            <div class="main-cont look-list" id="look-list"></div>
            <div class="look-pages" id="look-page"></div>
            <div class="list-right-action">
                <ul>
                    <li id="goUp"></li>
                    <li id="callGuest"></li>
                    <li id="cebianApp"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-main">
            <ul class="footer_ew">
                <li>
                    <img src="/static/images/qrcode-gzh.png" alt="公众号二维码">
                    <span>扫二维码微信关注</span>
                </li>
                <li>
                    <img src="/static/images/qrcode-app.png" alt="app二维码">
                    <span>扫二维码下载APP</span>
                </li>
            </ul>
            <ul class="footer-links">
                <li><a href="/template/index.html">LOOK</a></li>
                <li><a href="/template/designer.html">设计师</a></li>
                <li><a href="/template/designerlive.html">设计师入驻</a></li>
                <li><a href="/template/news.html">新闻动态</a></li>
                <li><a href="/template/helpCenter.html">帮助中心</a></li>
                <li><a href="/template/aboutus.html">关于我们</a></li>
            </ul>
            <p class="footer-cr">Copyright by 布偶猫Buoumall，武汉布偶猫科技有限公司 鄂ICP备15619607号-1</p>
        </div>
        <input type="hidden" id="pageType" value="1">
    </div>

    <script type="text/javascript" src="/static/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/swiper/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/layui-2.1.2/layui.js"></script>
    <script type="text/javascript" src="/static/libs/template-web.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/looklist.js"></script>


    <script type="text/html" id="lookList">
        {{each looklist as value i}}
        <div class="look-li">
            <div class="look-cover" data-id="{{value.id}}">
                <img class="cover" src="{{#value.cover}}" alt="{{#value.title}}">
            </div>
            <div class="look-info">
                <span>{{value.title}}</span>
                <p>{{value.description}}</p>
            </div>
        </div>
        {{/each}}
    </script>

<script type="text/html" id="lookDetail">
<div class="look_prouct">
    <p>Ralph & R尚百搭。大大  的圆领设计，休闲感十足。</p>
    <div class="look_like">
         <a>
             <span class="like_time"></span>
         </a>
         <a>
             <span class="like_eye"></span>
         </a>
     </div>
</div>
<div class="look_nav clearfix" id="look_nav">
</div>
<div class="look_pt clearfix">
   <h4>搭配商品</h4>
   {{each lookphoto as value i}}
   <div class="look_g">
       <div class="look_gif">
           <img src="{{#value.testimg}}" alt="图片在加载中....">
       </div>
       <div class="look_pay">
           <p>{{value.testName}}</p>
           <span class="money">{{value.myPrice}}</span><a class="order">立即购买</a>
       </div>
   </div>
    {{/each}}
</div>
<div class="look_pl" id="comment">
   <h4>评论作品<spna class="pl_works">(11)</spna></h4>
     <!--评论区域 begin-->
   <div class="commentAll">
       <!--评论区域 end-->
       <!--回复区域 begin-->
        {{each commentList as value i}}
       <div class="comment-show">
           <div class="comment-show-con clearfix">
               <div class="comment-show-con-img pull-left"><img src="{{#value.authorPng}}" alt=""></div>
               <div class="comment-show-con-list pull-left clearfix">
                   <div class="pl-text clearfix">
                       <a href="#" class="comment-size-name">{{value.authorName}}</a>
                       <span class="my-pl-con">&nbsp;{{value.content}}</span>
                   </div>
                   <div class="date-dz">
                       发表于:<span class="date-dz-left comment-time">{{value.createTime}}</span>
                   </div>
                   <div class="hf-list-con"></div>
               </div>
           </div>
       </div>
      {{/each}}
       <!--回复区域 end-->
        <a href="javascript:;" class="look_list">查看更多评论</a>
   </div>
</div>
</script>

</body>
</html>
