<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buoumall-</title>
    <link rel="shortcut icon" href="../favicon.ico"  type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="buoumsll-专业的" />
    <meta name="Keywords" content="网上购物,网上商城" />
    <link rel="stylesheet" href="../css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/lanrenzhijia.css"/>
	<link rel="stylesheet" href="../jQ-mtk/css/component.css">
	<link rel="stylesheet" href="../css/news.css">
</head>
<body>
<div class="header-w">
<!--快捷导航开始-->
	<div class="header">
		<div class="header_h">
		   	<div class="logo clearfix">  <!--logo 优化-->
		           <h1>
		               <a href="#" title="布偶猫"> 布偶猫 </a>
		           </h1>
		   	</div>
			<!-- 航栏目 -->
			<div class="wrap">
	          <ul id="nav">
	        	<li><a href="../index.html" class="hov">首页</a></li>
	        	<li><a href="./looklist.html">LOOK</a>
	        		<ul>
	        			<li><a href="#">LOOK详情</a></li>
                        <li><a href="#">APP下载更新</a></li>
	        			
	        		</ul>
	        	</li>
	        	<li><a href="./designer.html">设计师 <i class="icon"></i></a>
	        		<ul>
	        			<li><a href="./designer.html">设计师列表</a></li>
                        <li><a href="./designerlive.html">加入我们</a></li>
	        		</ul>			
	        	</li>
	        	<li><a href="./news.html">新闻动态</a>
	        		<ul>
	        			 <li><a href="./newdetails.html">文章详情</a></li>
	        		</ul>
	        	</li>
	        	<li><a href="./regard.html">关于我们</a>
	        		<ul>
	        			 <li><a href="javascript:;">关于我们</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                        <li><a href="javascript:;">联系我们</a></li>
                        <li><a href="javascript:;">法律声明</a></li>
	        		</ul>
	        	</li>
	        	<li><a href="./helpCenter.html">帮助中心</a>
	        		<ul>
	        			 <li><a href="#">帮助结果</a></li>
	        		</ul>
	        	</li>
	          </ul>
	    	</div>
			<!-- 下载链接 -->
			<div style="padding-left:450px;">
				<table class="table">
					<tr>
						<td><a href="javascript:;" class="md-trigger btn btn-primary btn-sm h_loding" data-modal="modal-1">APP下载</a></td>
					</tr>
				</table>
				<div class="md-modal md-effect-1" id="modal-1">
					<div class="md-content">
						<div>
							<button class="md-close btn-sm btn-primary">Close me!</button>
							<ul>
								<li>
									<img src="../images/z_u335.png" alt="sorry...下载吧" style="width: 270px;">
									<h4>扫描二维码，下载布偶猫APP查看更多</h4>
									<p>在布偶猫，和最会生活的人做朋友</p>
								</li>
							</ul>
						
						</div>
					</div>
				</div>
				<div class="md-overlay"></div>
			</div>

	 	</div>
	</div>	
<!--快捷导航结束-->

	<!--首页的主体部分main开始-->
	<div class="new_main">
		<div class="new_look clearfix">
			<div class="new_title">
				<div class="new_left">
					<h4>20</h4>
					<span>Aug</span>
				</div>	
			</div>
			<div class="new_text">
				<h4>
					布偶猫2017年二季度净利润7380万美元 同比增长218%
				</h4>
				<p class="new_time">2017/9/4 09:34</p>
				<p class="new_proct">8月22日，中国领先的移动社交网络平台布偶猫公布了2017年第二季度未经审计的财务业绩。财报显示，2017年第二季度，布偶猫净营收达3.122亿美元，同比增长215%。不按照美国通用会计准则计量，2017年二季度归属于布偶猫的净利润为7380万美元，同比增长218%，持续十个季度盈利。同时， 2017年6月，布偶猫月活用户达到9130万，创下了历史新高。</p>
				<a class="new_png">
					<img src="../images/news.jpg">
				</a>
				<a class="new_detailstext">阅读全文</a>

			</div>
		</div>
		<div class="new_look clearfix">
			<div class="new_title">
				<div class="new_left">
					<h4>21</h4>
					<span>Aug</span>
				</div>	
			</div>
			<div class="new_text">
				<h4>
					布偶猫2017年二季度净利润7380万美元 同比增长218%
				</h4>
				<p class="new_time">2017/9/4 09:34</p>
				<p class="new_proct">8月22日，中国领先的移动社交网络平台布偶猫公布了2017年第二季度未经审计的财务业绩。财报显示，2017年第二季度，布偶猫净营收达3.122亿美元，同比增长215%。不按照美国通用会计准则计量，2017年二季度归属于布偶猫的净利润为7380万美元，同比增长218%，持续十个季度盈利。同时， 2017年6月，布偶猫月活用户达到9130万，创下了历史新高。</p>
				<a class="new_png">
					<img src="../images/news.jpg">
				</a>
				<a class="new_detailstext">阅读全文</a>

			</div>
		</div>
		<div class="new_page">
			<a class="newpage_left"><span>←</span>早期动态</a>
			<a class="newpage_right">最近动态<span>→</span></a>
		</div>
	</div>
	<!--产品部分开始product-->
<!--info栏目 二维分享页面-->
	<div class="footer w">
		<div class="footer_nav">
			<ul class="footer_ew">
				<li>
					<a><img src="../images/z_u335.png" alt=""></a>
					<span>扫二维码微信关注</span>
				</li>
				<li>
					<a><img src="../images/z_u335.png" alt=""></a>
					<span>扫二维码下载APP</span>
				</li>
			</ul>
			<div class="links">
			<a href="#">LOOK</a><span>|</span>
			<a href="#">设计师</a><span>|</span>
			<a href="#">设计师入驻</a><span>|</span>
			<a href="#">新闻动态</a><span>|</span>
			<a href="#">帮助中心</a><span>|</span>
			<a href="#">关于我们</a><span>|</span>
			<p>Copyright by 布偶猫Buoumall，武汉布偶猫科技有限公司 鄂ICP备15619607号-1</p>
			</div>
		</div>
		

	</div>
</div>
<script  src="../lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="../jQ-mtk/js/classie.js"></script>
<script src="../jQ-mtk/js/modalEffects.js"></script>
 <script type="text/javascript" src="../js/index.js"></script>
<!--<script src="./lib/template.js"></script>-->
</body>
<script type="text/javascript">
$(document).ready(function() {
	$('#nav li').hover(function() {
		$('ul', this).stop().fadeIn(300);
		$(this).children('a:first').addClass("hov");
	}, function() {
		$('ul', this).stop().fadeOut(300);
		$(this).children('a:first').removeClass("hov");
	});
});

</script>
</html>