
.about-menu{
    padding-top: 80px;
    width: 200px;
    height: 480px;
    float: left;
}
.about-menu ul{
    background: #f3f3f3;
    height: 400px;
    padding-top: 10px;
}
.about-menu li{
    height: 60px;
    line-height: 60px;
    padding:0 20px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.about-menu li.abm-li-act{
    background-color: #333;
    color: #fff;
}

/* about-cont */
.about-cont{
    margin-left: 280px;
}
.main-cont h4.main-title{
    padding: 80px 0;
    text-align: center;
    font-size: 16px;
    height: 125px;
    line-height: 20px;
}
.main-cont h4.main-title i{
    width: 20px;
    height: 20px;
    background-color: #333;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}
.about-li{
    min-height: 600px;
    display: none;
}

/*about-us*/
.about-us{
    display: block;
}
.about-us .about-infos p{
    margin-bottom: 90px;
    line-height: 25px;
}

/*about-join*/
.ab-fuli ul{
    overflow: hidden;
    margin-bottom: 30px;
}
.ab-fuli li{
    float: left;
    width: 25%;
    height: 190px;
    padding:40px 0;
    text-align: center;
}
.ab-fuli span{
    height: 76px;
    width: 76px;
    display: block;
    margin: 0 auto 15px;
    background: url(/static/images/joinus.png) no-repeat;
}
.ab-fuli li:nth-of-type(2) span{
    background-position: 0 -76px;
}
.ab-fuli li:nth-of-type(3) span{
    background-position: 0 -152px;
}
.ab-fuli li:nth-of-type(4) span{
    background-position: 0 -228px;
}
.ab-fuli li:nth-of-type(5) span{
    background-position: 0 -304px;
}
.ab-fuli li:nth-of-type(6) span{
    background-position: 0 -380px;
}
.ab-fuli li:nth-of-type(7) span{
    background-position: 0 -456px;
}
.ab-fuli li:nth-of-type(8) span{
    background-position: 0 -532px;
}

.ab-need{
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
    padding:70px 0;
    background: url(/static/images/join-back.jpg) no-repeat;
}
.ab-need h5{
    line-height: 25px;
    font-size: 20px;
}
.ab-need p{
    line-height: 35px;
    font-size: 24px;
    color: #ec9182;
}

.ab-zhaopin{
    font-size: 0;
    text-align: center;
}
.ab-zhaopin li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 126px;
    width: 160px;
    height: 160px;
    background: url(/static/images/works.png) no-repeat;
}

.ab-zhaopin li:last-child{
    margin:0;
}
.ab-zhaopin li:nth-of-type(2){
    background-position: 0 -160px;
}
.ab-zhaopin li:nth-of-type(3){
    background-position: 0 -320px;
}


/*about-contact*/
.contact-map{
 	height: 504px;
    position: relative;
}
#normal-map {
	height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
	overflow: hidden;
    background: #f3f3f3;
}
.map-addr{
	width:340px;
	height:252px;
	background: rgba(237, 164, 152, 0.9);
	position: absolute;
	top:0;
	left:0;
    z-index: 9;
    padding:45px;
    color:#fff;
}
.map-addr > h4{
	font-size: 27px;
	margin-bottom: 20px;
}
.map-addr > p{
	font-size: 14px;
	line-height: 35px;
}

.contact-email{
	padding: 30px 0;
}
.contact-email ul{
    overflow: hidden;
}
.contact-email li{
    float: left;
	width: 33.333%;
    padding: 30px 0;
	overflow: hidden;
}
.contact-email h4{
	font-size: 20px;
    line-height: 30px;
}
.contact-email p{
	line-height: 25px;
}


.contact-addr > h4{
	font-size: 35px;
	line-height: 90px;
}

.contact-addr li{
	height: 120px;
    padding: 30px 0;
}
.contact-addr .addr-right{
	float:left;
	width:60px;
	height: 60px;
    background: url(/static/images/contact-icons.png) no-repeat;
}
.contact-addr li:nth-of-type(2) .addr-right{
	background-position: 0 -60px;
}
.contact-addr li:nth-of-type(3) .addr-right{
    background-position: 0 -120px;
}
.contact-addr .addr-left{
    margin-left: 90px;
}
.addr-left p{
    font-size:16px;
    line-height: 30px;
}
