.body-main{
    background: #fff;
}

/* designer-menu */
.main-style{
    background: #f3f3f3;
}
.designer-menu ul{
    overflow: hidden;
    height: 50px;
}
.designer-menu li{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 48px;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    text-align: center;
    cursor: pointer;
}
.designer-menu li.act,
.designer-menu li:hover{
    color: #ec9182;
    border-color: #ec9182;
}


/* designer-list */
.designer-list{
    overflow: hidden;
    padding: 20px 0;
    min-height: 600px;
}
.designer-li{
    width: 365px;
    height: 365px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.designer-li:nth-of-type(3n){
    margin-right: 0;
}
.designer-infos{
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 60px 40px;
    left: -365px;
    top: 0;
    transition: all .3s;
}
.designer-li:hover > .designer-infos{
    left: 0;
}
.designer-infos span{
    display: block;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.designer-infos p{
    height: 195px;
    overflow: hidden;
    line-height: 25px;
}


.designer-pages{
    text-align: center;
}
span.layui-laypage-curr,
.layui-laypage a{
    margin: 0 5px;
}
