.body-main{
    background: #fff;
}

.main-bannar img{
    display: block;
    width: 100%;
    min-width: 1136px;
    height: auto;
}

.main-cont h4.main-title{
    padding-top: 80px;
    text-align: center;
    font-size: 16px;
    height: 125px;
    line-height: 20px;
}
.main-cont h4.main-title i{
    width: 20px;
    height: 20px;
    background-color: #333;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

/* process */




/* advantage */
