
.main-help{
    padding-top: 80px;
}

/* menu */
.help-menu{
    float: left;
    width: 212px;
    border-right:3px solid #dddddd;
}
.help-menu li{
    padding: 20px 0;
    font-size: 0;
    position: relative;
    cursor: pointer;
}
.help-menu span{
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
}
.help-menu span.help-icon{
    width:40px;
    height: 40px;
    margin-right: 20px;
    background: url(/static/images/help-icon.png) no-repeat;
    background-size: 100% auto;
}
.help-menu li:nth-of-type(2) span.help-icon{
    background-position: 0 -40px;
}
.help-menu li:nth-of-type(3) span.help-icon{
    background-position: 0 -80px;
}
.help-menu li:nth-of-type(4) span.help-icon{
    background-position: 0 -120px;
}
.help-menu li:nth-of-type(5) span.help-icon{
    background-position: 0 -160px;
}
.help-menu li:nth-of-type(6) span.help-icon{
    background-position: 0 -200px;
}


li.help-mact span{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
li.help-mact span.help-icon{
    width: 50px;
    height: 50px;
}
li.help-mact:nth-of-type(2) span.help-icon{
    background-position: 0 -50px;
}
li.help-mact:nth-of-type(3) span.help-icon{
    background-position: 0 -100px;
}
li.help-mact:nth-of-type(4) span.help-icon{
    background-position: 0 -150px;
}
li.help-mact:nth-of-type(5) span.help-icon{
    background-position: 0 -200px;
}
li.help-mact:nth-of-type(6) span.help-icon{
    background-position: 0 -250px;
}


.help-menu i{
    display: block;
    position: absolute;
    width: 16px;
    height: 24px;
    right: -3px;
    top: 50%;
    margin-top: -12px;
    background: url(/static/images/sanjiao.png) no-repeat;
    display: none;
}
li.help-mact i{
    display: block;
}

/* help-cont */
.help-cont{
    margin-left: 213px;
    min-height: 600px;
    padding-left: 30px;
}
.help-li{
    display: none;
}
.help-li:first-child{
    display: block;
}
