.body-main{
    background: #fff;
}

/* look-list */
.look-list{
    overflow: hidden;
    padding: 20px 0;
    min-height: 600px;
}
.look-li{
    width: 268px;
    height: 480px;
    margin-right: 21px;
    float: left;
}
.look-li:nth-of-type(4n){
    margin: 0;
}
.look-cover{
    height: 357px;
    cursor: pointer;
}
.look-info{
    height: 80px;
}
.look-info span{
    display:block;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.look-info p{
    height: 40px;
    overflow: hidden;
    color: #666;
    line-height: 20px;
}

.look-pages{
    text-align: center;
}
span.layui-laypage-curr,
.layui-laypage a{
    margin: 0 5px;
}


/* look-detail */
