.body-main{
    background: #fff;
}

/* news-list */
.news-list{
    padding:30px 0;
}
.news-li{
    padding-top: 50px;
}
.news-li .news-left{
	width: 239px;
	height: 239px;
	float: left;
}
.news-left .news-left-cont{
	width:80px;
	border-top:5px solid #ec9182;
}
.news-left-cont span{
    display: block;
	font-size: 70px;
	margin-top: 10px;
	color: #666;
    text-align: center;
}
.news-left-cont span:last-child{
	font-size: 14px;
    margin: 0;
}

.news-text{
	margin-left: 239px;
	border-bottom: 1px dashed #000;
	overflow: hidden;
	padding-bottom: 80px;
}
.news-text > h4{
	font-size:35px;
	font-weight: 400;
	line-height: 35px;
    height: 50px;
}
.news-text .news-time{
	font-size: 13px;
    height: 60px;
	color:#666;
}
.news-text .news-cont{
    margin-bottom: 50px;
    color:#666;
}
.news-text .news-detail{
	display: block;
	color: #333;
	font-weight: 600;
}
.news-text .news-detail:hover{
    color: #ec9182;
}

/* news-page */
.news-page{
    padding-left: 239px;
    height: 30px;
}
.news-page a{
    display: block;
    float: left;
    color:#666;
}
.news-page a:last-child{
    float: right;
}



/* news-detail */
.news-detail-text{
    border: 0;
    min-height: 500px;
}

/* news-infos */
.news-infos{
    margin: 40px 0;
}
.news-auth{
    width: 300px;
    float: left;
    position: relative;
    padding-left: 50px;
}
.news-auth-avatar{
    display: block;
    position: absolute;
    z-index: 9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    left: 0;
    top: 0;
}
.news-auth p{
    line-height: 20px;
    color: #666;
}
p.news-auth-time{
    font-size: 12px;
}
.news-share{
    margin-left: 300px;
    height: 40px;
    text-align: right;
}
.news-share ul{
    font-size: 0;
}
.news-share li{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #f0f0f0;
    cursor: pointer;
}
